<content>
	<canvas class="tangram-bg"></canvas>

	<div class="tmp"></div>

	<div class="game-view" data-area="game" data-click="deselect-active">
		<svg viewBox="-200 -200 600 600">
			<g>
				<g class="tile" data-id="a" transform="translate(50 100) rotate(-90)">
					<path class="polygon-tile" fill="#cd0e67" d="M-100,-50L0,50L100,-50Z"></path>
					<line x1="0" y1="-50" x2="0" y2="-75"/>
					<circle cx="0" cy="-75" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="b" transform="translate(100 50) rotate(0)">
					<path class="polygon-tile" fill="#0d7ff2" d="M-100,-50L0,50L100,-50Z"></path>
					<line x1="0" y1="-50" x2="0" y2="-75"/>
					<circle cx="0" cy="-75" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="c" transform="translate(150 100) rotate(0)">
					<path class="polygon-tile" fill="#22aa24" d="M-50,0L0,-50L50,0L0,50Z"></path>
					<line x1="0" y1="-50" x2="0" y2="-75"/>
					<circle cx="0" cy="-75" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="d" transform="translate(75 175) rotate(0)">
					<path class="polygon-tile" fill="#ff8c00" d="M-75,25L25,25L75,-25L-25,-25Z"></path>
					<line x1="0" y1="-25" x2="0" y2="-50"/>
					<circle cx="0" cy="-50" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="e" transform="translate(175 50) rotate(-90)">
					<path class="polygon-tile" fill="#eb4928" d="M0,-25L50,25L-50,25Z"></path>
					<line x1="0" y1="-25" x2="0" y2="-50"/>
					<circle cx="0" cy="-50" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="f" transform="translate(100 125) rotate(0)">
					<path class="polygon-tile" fill="#00a0a8" d="M0,-25L50,25L-50,25Z"></path>
					<line x1="0" y1="-25" x2="0" y2="-50"/>
					<circle cx="0" cy="-50" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
				<g class="tile" data-id="g" transform="translate(150 150) rotate(90)">
					<path class="polygon-tile" fill="#6d3bbf" d="M-50,-50L50,-50L50,50Z"></path>
					<line x1="0" y1="-50" x2="0" y2="-75"/>
					<circle cx="0" cy="-75" r="5"/>
					<circle class="center" cx="0" cy="0" r="2"/>
				</g>
			</g>
		</svg>
	</div>
</content>
