<content>
	<div class="board" style="--puzzle: url(~/icons/puzzle-house.png);">
		<svg class="pieces" viewBox="0 0 600 540">
			<style type="text/css">
				.g1 path { fill: #0F82F2; transform: translate(-126px, -64px); }
				.g2 path { fill: #FD8C00; transform: translate(-126px, -64px); }
				.g3 path { fill: #CD0E66; transform: translate(-94px, -32.5px); }
				.g4 path { fill: #6D3BBF; transform: translate(-64px, -64px); }
				.g5 path { fill: #009EA6; transform: translate(-60px, -31px); }
				.g6 path { fill: #EB4726; transform: translate(-60px, -31px); }
				.g7 path { fill: #22AB24; transform: translate(-45px, -45px); }
				
				circle { fill: #ffffff77; }

				.active path { stroke-width: 3; stroke-linejoin: round; stroke: #fff;}

				.g1 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g2 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g3 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g4 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g5 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g6 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }
				.g7 { opacity: 1; transform: translate(-200px, -200px) rotate(0deg); }

				/*.g1 { opacity: 1; transform: translate(300px, 362px) rotate(180deg); }
				.g2 { opacity: 1; transform: translate(255px, 232px) rotate(180deg); }
				.g3 { opacity: 1; transform: translate(385px, 251px) rotate(45deg); }
				.g4 { opacity: 1; transform: translate(367px, 361px) rotate(90deg); }
				.g5 { opacity: 1; transform: translate(233px, 328px) rotate(0deg); }
				.g6 { opacity: 1; transform: translate(199px, 362px) rotate(270deg); }
				.g7 { opacity: 1; transform: translate(337px, 159px) rotate(0deg); }
				*/
			</style>

			<g class="g1">
				<path d="M253.6,0H1.6C0.2,0-0.5,1.7,0.5,2.7l126,126c0.6,0.6,1.6,0.6,2.3,0l126-126C255.8,1.7,255,0,253.6,0z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g2">
				<path d="M128.7,128.7l126-126c1-1,0.3-2.7-1.1-2.7H1.6C0.2,0-0.5,1.7,0.5,2.7l126,126 C127.1,129.4,128.1,129.4,128.7,128.7z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g3">
				<path d="M186.1,0H62.9c-0.4,0-0.8,0.2-1.1,0.5L0.5,61.8c-1,1-0.3,2.7,1.1,2.7h123.2c0.4,0,0.8-0.2,1.1-0.5l61.3-61.3 C188.3,1.7,187.5,0,186.1,0z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g4">
				<path d="M0,1.6V126c0,1.4,1.7,2.1,2.7,1.1L127.1,2.7c1-1,0.3-2.7-1.1-2.7H1.6C0.7,0,0,0.7,0,1.6z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g5">
				<path d="M61.2,61.2l58.5-58.5c1-1,0.3-2.7-1.1-2.7H1.6C0.2,0-0.5,1.7,0.5,2.7L59,61.2C59.6,61.9,60.6,61.9,61.2,61.2z" />
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g6">
				<path d="M0.5,2.7l60,60c0.6,0.6,1.6,0.6,2.3,0l60-60c1-1,0.3-2.7-1.1-2.7H1.6C0.2,0-0.6,1.7,0.5,2.7z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

			<g class="g7">
				<path d="M90.4,88.7V1.6c0-0.8-0.7-1.6-1.6-1.6H1.6C0.8,0,0.1,0.7,0,1.6v87.1c0,0.8,0.7,1.6,1.6,1.6h87.1 C89.7,90.4,90.4,89.7,90.4,88.7z"/>
				<circle cx="0" cy="0" r="2"/>
			</g>

		</svg>
	</div>
</content>
