<content>
	<div class="board">
		<svg class="pieces" viewBox="0 0 600 540">
			<g class="center">
				<g class="g1">
					<polygon class="p1" points="100,100 200,200 0,200"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g2">
					<polygon class="p2" points="0,0 100,100 0,200"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g3">
					<polygon class="p3" points="150,50 200,100 200,200 150,150"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g4">
					<polygon class="p4" points="150,50 150,150 100,100"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g5">
					<polygon class="p5" points="100,0 200,0 200,100"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g6">
					<polygon class="p6" points="100,0 150,50 100,100 50,50"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
				<g class="g7">
					<polygon class="p7" points="0,0 100,0 50,50"/>
					<circle cx="0" cy="0" r="2"/>
				</g>
			</g>
		</svg>
	</div>
</content>
