
background: transparent;


content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #5d2396 radial-gradient(circle at 50%, #ffffff66, transparent);

	canvas.tangram-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// opacity: .5;
		mix-blend-mode: hard-light;
		border-radius: inherit;
		pointer-events: none;
	}

	.game-view {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		// display: none;

		svg {
			.tile {
				cursor: pointer; 
			}

			.polygon-tile {
				stroke: #111;
				stroke-width: 1.5px;
				stroke-linejoin: round;
				filter: url(#tangram-beveled);
			}
		}
	}
}
