
content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	.board {

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: 1;
			background: 50% 50%/contain no-repeat;
			background-image: var( --puzzle );
			mix-blend-mode: hard-light;
			background-size: auto 80%;
			opacity: .4;
			// display: none;
			filter: drop-shadow(0 1px 0 rgba(#fff,.25));
		}

		svg {
			// background: rgba(#fff,.1);
			position: absolute;
			z-index: 3;

			circle {
				// display: none;
			}
		}
	}
}
